.container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    width: 7rem;
    background: var(--white);
}

.container header {
    padding: 2rem 0 0;
    color: var(--blue);
}

.container header svg {
    width: 3rem;
    height: 2.625rem;
}

.container main {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 100%;
}

.container main a {
    padding: 0.75rem;
    color: var(--text);
    width: 100%;
    opacity: 0.5;
    position: relative;
    text-align: center;
}

.container main a.linkActive {
    color: var(--blue);
    opacity: 1;
}

.linkActive::after {
    content: '';
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    border-right: 4px solid var(--blue);
    border-radius: 0 5px 5px 0;
    height: 100%;
}

.container footer {
    color: var(--text);
    opacity: 0.5;
    transition: color 0.2s;
    padding-bottom: 2rem;
}

.container footer:hover {
    cursor: pointer;
    color: var(--blue);
}