.container {
    height: 100vh;
    width: 100vw;
    max-width: 992px;
    margin: 0 auto;
    padding: 2.5rem 2rem;

    display: flex;
    flex-direction: column;
    flex: 1;
}

.container section {
    flex: 1;
    
    display: grid;
    gap: 6.25rem;
    align-content: center;
    grid-template-columns: 1fr 1fr;
}

@media (max-width: 1000px) {
    .container {
        overflow: auto;
    }

    .container section {
        grid-template-rows: 1fr auto;
        grid-template-columns: unset;
        gap: 2rem;
    }
}