.container {
    height: 100vh;
    width: 100vw;
    max-width: 992px;
    margin: 0 auto;
    padding: 2.5rem 2rem;

    display: flex;
    flex-direction: column;
    flex: 1;
}

.container > header {
    font-size: 2.25rem;
    font-weight: 600;
    line-height: 2.87rem;
    color: var(--title);
}

.wrapper {
    margin-top: 3.125rem;
    overflow: auto;
    padding-right: 10px;
}

.wrapper table {
    border-spacing: 0 0.5rem;
    width: 100%;
}

.wrapper table thead th {
    text-align: start;
    color: var(--text);
    padding: 1.5rem;
    opacity: 0.5;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.875rem;
    line-height: 1.025rem;
}

.wrapper table thead th:first-child {
    padding: 0.5rem;
}

.wrapper tbody tr td {
    padding: 1.5rem;
    height: 6rem;
    background: var(--white);
    white-space: nowrap;
}

.wrapper tbody tr td:first-child {
    border-right-style: solid;
    border-right-width: 4px;
    border-right-color: var(--background);
    border-radius: 5px 0 0 5px;

    font-size: 1.5rem;
    font-weight: 500;

    text-align: center;
    padding: 0;
    width: 4.5rem;
    
}

.wrapper tbody tr td:last-child {
    border-radius: 0 5px 5px 0;
}

.wrapper tbody tr td p strong {
    color: var(--blue);
}

.userInfoContainer {
    display: flex;
    flex-flow: row nowrap;
}

.userInfoContainer img {
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
}

.userInfoContainer div {
    display: flex;
    flex-flow: column nowrap;
    margin-left: 1rem;
}

.userInfoContainer div strong {
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.5rem;
    color: var(--title);
}

.userInfoContainer div span {
    margin-top: 0.5rem;
    font-size: 1rem;
    color: var(--text);
}

.userInfoContainer div span img {
    width: 1rem;
    height: 1rem;
    margin-right: 0.5rem;
}

.cardsContainer {
    display: flex;
    flex-flow: column nowrap;
    flex: 1;
    overflow: auto;
    margin-top: 3.125rem;
    padding-right: 0.75rem;
}

.cardsContainer > div + div {
    margin-top: 0.75rem;
}

.cardsContainer > div {
    padding: 1.5rem;
    border-radius: 0.5rem;
    background: var(--white);
}

.cardsContainer > div header {
    display: flex;
    justify-content: center;
    font-size: 2rem;
}

@media (max-width: 767px) {
    .userInfoContainer {
        margin-top: 1.5rem;
        flex-flow: column nowrap;
        align-items: center;
    }

    .userInfoContainer > div {
        margin-left: 0;
        margin-top: 1rem;
        text-align: center;
    }

    .cardsContainer > div footer {
        border-top: 1px solid var(--grayLine);
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        margin-top: 1rem;
        padding-top: 1rem;
    }

    .cardsContainer > div footer strong {
        color: var(--blue);
    }

    .cardsContainer > div footer p + p {
        margin-top: 0.5rem;
    }
}